@import "~bootstrap";
body {
  background-image: url("https://images.unsplash.com/photo-1526920929362-5b26677c148c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
  color: #263f40;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

:root {
  --base-color: #ff7800;
  --secondary-color: #6f00ff;
}
