<div class="container main">

  <h1 class="text-center">FizzBuzz Game <span class="rules">!</span></h1>

  <section class="explanation">
    <p><span class="rules">Fizz</span>: if the number can be divided by <b>3</b></p>
    <p><span class="rules">Buzz</span>: if the number can be divided by <b>5</b></p>
    <p><span class="rules">FizzBuzz</span>: if the number can be divided by <b>3 and 5</b></p>
    <p><span class="rules">Number</span>: if none of the above are applicable</p>
  </section>

  <div class="d-flex justify-content-center">
    <button
      *ngIf="!isRunning"
      class="btn start-btn"
      (click)="startGame()">
      START
    </button>
    <div *ngIf="isRunning" class="row reset">
      <p class="digital col-sm-3">00:0{{countDown}}</p>
      <button
        class="btn btn-danger"
        (click)="stopFizzBuzz()">RESET
      </button>
    </div>
  </div>

  <section [ngClass]="!isRunning ? 'hidden' : 'visible' ">
    <div class="fizzBuzz-buttons">
      <button
        id="fizz-btn"
        class="btn">
        Fizz
      </button>
      <button
        id="buzz-btn"
        class="btn">
        Buzz
      </button>
      <button
        id="fizzBuzz-btn"
        class="btn">
        FizzBuzz
      </button>
      <button
        id="nr-btn"
        class="btn">
        {{numbers$ | async}}
      </button>
      <div>
        <p class="score">Score: {{userScore$ | async}}</p>
      </div>
    </div>

    <!--    <table class="table table-borderless">-->
    <!--      <tbody>-->
    <!--      <tr>-->
    <!--        <th scope="row">Your answer:</th>-->
    <!--        <td>{{guessedNextValue}}</td>-->
    <!--        <td>-->
    <!--          <span *ngIf="isCorrect" class="correct">Well done!</span>-->
    <!--          <span *ngIf="!isCorrect && isCorrect != null" class="wrong">Wrong answer</span>-->
    <!--        </td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--        <th scope="row">Correct answer:</th>-->
    <!--        <td>{{correctAnswer}}</td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--        <th scope="row">Score:</th>-->
    <!--        <td>{{userScore$ | async}}</td>-->
    <!--      </tr>-->
    <!--      </tbody>-->
    <!--    </table>-->

    <div class="overflow">
      <table class="table table-borderless">
        <thead>
        <tr class="text-center">
          <th>Number</th>
          <th>Correct Answer</th>
          <th>Your Answer</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let historyItem of history$ | async">
          <td>{{historyItem.num}}</td>
          <td>{{historyItem.correctAnswer}}</td>
          <td>{{historyItem.givenAnswer}}</td>
          <td>
            <span *ngIf="historyItem.isCorrect" class="correct"> 👍 Well done!</span>
            <span *ngIf="historyItem.isCorrect" class="wrong">😔 Wrong</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>
</div>
