@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.explanation {
  margin: 5vh 0;
  text-align: center;
}

.main {
  padding: 5vh;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 5vh;
  border-radius: 35px;
}

.correct {
  color: green;
  font-weight: 600;
}

.wrong {
  color: red;
  font-weight: 600;
}

.digital {
  font-family: 'Orbitron', sans-serif;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.start-btn {
  background: var(--base-color);
  color: whitesmoke;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.fizzBuzz-buttons {
  margin: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  button {
    background-color: darken(#ff7800, 5%);
    color: whitesmoke;
  }
}

table {
  table-layout: fixed;
  overflow: scroll;

  td {
    text-align: center;
  }
}

.test {
  height: 30vh;
  overflow: scroll;
}


.rules, .score {
  color: var(--secondary-color);
}



