<div class="container main">

  <h1 class="text-center">FizzBuzz Game <span class="rules">!</span></h1>

  <div class="explanation">
    <p><span class="rules">Fizz</span>: if the number can be divided by <b>3</b></p>
    <p><span class="rules">Buzz</span>: if the number can be divided by <b>5</b></p>
    <p><span class="rules">FizzBuzz</span>: if the number can be divided by <b>3 and 5</b></p>
    <p><span class="rules">Number</span>: if none of the above are applicable</p>
  </div>

  <div class="d-flex justify-content-center">
    <button
      *ngIf="!isRunning"
      class="btn start-btn"
      (click)="startGame()">
      START
    </button>
    <div *ngIf="isRunning" class="row reset">
            <p class="digital col-sm-3">00:0{{countDown}}</p>
      <button
        class="btn btn-danger"
        (click)="stopFizzBuzz()">RESET
      </button>
    </div>
  </div>

  <div>
    <div
      [ngClass]="!isRunning ? 'hidden' : 'fizzBuzz-buttons' ">
      <button
        id="fizz-btn"
        class="btn">
        Fizz
      </button>
      <button
        id="buzz-btn"
        class="btn">
        Buzz
      </button>
      <button
        id="fizzBuzz-btn"
        class="btn">
        FizzBuzz
      </button>
      <button
        id="nr-btn"
        class="btn">
        {{numbers$ | async}}
      </button>
    </div>

    <table class="table table-borderless">
      <tbody>
      <tr>
        <th scope="row">Your answer:</th>
        <td>{{guessedNextValue}}</td>
        <td>
          <span *ngIf="isCorrect" class="correct">Well done!</span>
          <span *ngIf="!isCorrect && isCorrect != null" class="wrong">Wrong answer</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Correct answer:</th>
        <td>{{correctAnswer}}</td>
      </tr>
      <tr>
        <th scope="row">Score:</th>
        <td>{{userScore$ | async}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
