@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.explanation, .fizzBuzz-buttons {
  margin: 5vh;
}

.main {
  padding: 5vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.digital {
  font-family: 'Orbitron', sans-serif;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.answers {
  min-width: 8vw;
}
