<div class="container main">

  <h1 class="text-center">FizzBuzz Game</h1>

  <div class="explanation">
    <p><b>Fizz</b>: if the number can be divided by 3</p>
    <p><b>Buzz</b>: if the number can be divided by 5</p>
    <p><b>FizzBuzz</b>: if the number can be divided by 3 and 5</p>
    <p><b>Number</b>: if none of the above are applicable</p>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-info" *ngIf="!isRunning" (click)="startFizzBuzz()">START</button>
    <div *ngIf="isRunning" class="row reset">
      <p class="digital col-sm-3">00:0{{countDown}}</p>
      <button class="btn btn-danger" (click)="stopCounter()">RESET</button>
    </div>
  </div>

  <div class="answers">

    <div class="d-flex justify-content-around fizzBuzz-buttons">
      <button
        id="nr-btn"
        class="btn btn-primary">
      <!--        (click)="guessNextValue(counter.toString())"-->
      {{counter}}</button>
      <button
        id="fizz-btn"
        class="btn btn-primary">
      <!--        (click)="guessNextValue('Fizz')"-->
      Fizz</button>
      <button
        id="buzz-btn"
        class="btn btn-primary">
      <!--        (click)="guessNextValue('Buzz')">-->
      Buzz
      </button>
      <button
        id="fizzBuzz-btn"
        class="btn btn-primary">
      <!--        (click)="guessNextValue('FizzBuzz')">-->
      FizzBuzz
      </button>
    </div>

    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">Your answer:</th>
        <td class="answers">{{guessedNextValue}}</td>
      </tr>
      <tr>
        <th scope="row">Correct answer:</th>
        <td>{{currentValue}}</td>
      </tr>
      <tr>
        <th scope="row">Score:</th>
        <td>{{score}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <!--      <p class="col-sm-3"><b>Your answer: </b>{{guessedNextValue}}</p>-->
      <p *ngIf="isCorrect" class="col-sm-5 correct">Well done!</p>
      <p *ngIf="!isCorrect && isCorrect != null" class="col-sm-5 wrong">Wrong answer</p>
    </div>

    <!--    <p><b>Correct answer: </b> {{currentValue}}</p>-->
    <!--    <p><b>Score: </b>{{score}}</p>-->

  </div>
</div>
